.contagion {
  margin: 9rem auto;
}

.contagion-text {
  margin: 0 auto;
  max-width: 30vw;

  h2 {
    padding-bottom: 3.2rem;

    span {
      line-height: 5.4rem;
    }
  }
}

.contagion-cards {
  display: flex;
  justify-content: space-between;
  margin: 7rem auto;
  max-width: $content-width;

  &-item {
    max-width: 46rem;
    text-align: center;
    background-color: $color-white;
    border-bottom: 6px solid $primary;
    box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
    border-radius: 10px 10px 6px 6px;
    padding: 6.5rem 5rem;

    img {
      max-width: 25rem;
      margin: 4.3rem auto 5.8rem auto;
    }

    h3 {
      text-transform: capitalize;
      font-size: 3.6rem;
      line-height: 5rem;
      color: $dark-grey-1;
      padding-bottom: 1rem;
    }

    p {
      text-transform: capitalize;
      line-height: 3.6rem;
    }
  }

  div:nth-child(2) img {
    transform: scale(1.06);
  }
}