.footer {
  width: $content-width;
  margin: 8.6rem auto 2.5rem auto;

  &-menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4.5rem;

    &-brand {
      line-height: 0;

      &-logo {
        width: 221px;
      }
    }

    .nav-list {
      &:nth-child(2) {
        gap: 6rem;
        padding: 6px 1rem 0 0;

        .nav-list-item {
          .nav-link {
            font-size: 2.3rem;
            color: #00402e;
          }
        }
      }

      &:nth-child(3) {
        gap: 4.5rem;
      }
    }
  }
  &-copy-rights {
    font-size: 2.3rem;
    text-align: center;
    color: #415E56;
  }
}