.live-reports {
  display: flex;
  max-width: 80.27vw;
  margin: 9rem auto;
  padding-top: 2.5rem;
  gap: 3.3rem;

  &-map {
    position: relative;

    &-nav {
      position: absolute;
      width: 8.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.4rem;
      padding: 2.2rem 3rem;
      margin: 0 5.2rem;
      background: $color-white;
      box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
      border-radius: 5px;

      .plus-icon {
        line-height: 0;

        svg {
          stroke: $grey-1;
        }
      }

      .map-nav-lines {

        span {
          display: block;
          width: 28px;
          height: 2px;
          background: $grey-1;
          margin: 0 auto;

          &:nth-child(1),
          &:nth-child(3) {
            width: 9.2px;
            height: 1px;
            background: $grey-2;
          }

          &:nth-child(2) {
            margin: 2.5rem auto;
          }
        }
      }

      .map-nav-arrows {
        display: inline-flex;
        flex-direction: column;

        svg {
          fill: $grey-2;
          cursor: pointer;

          &:nth-child(2) {
            padding-bottom: 1.5px;
            transform: rotate(180deg);
          }

          &:hover {
            fill: $red-2;
          }
        }
      }
    }

    &-search {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7.6rem;
      height: 7.3rem;
      margin: 0 3px;
      background: $color-white;
      right: 0;
      box-shadow: 0px 7px 76px rgba(146, 53, 46, 0.18);
      border-radius: 5px;

      svg {
        stroke: $red-2;
      }
    }

    &-image {
      img {
        position: relative;
        top: 5rem;
        right: 6px;
        z-index: -1;
      }
    }
  }

  &-table {
    width: 50.4rem;
    padding: 5.5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background: linear-gradient(360deg, #FFFBFB -79.45%, #FDFDFD 105.35%);
    box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-family: gelionRegular;
        font-size: 4.8rem;
        letter-spacing: .5px;
        line-height: 6rem;
      }

      &-nav-icons {
        display: inline-flex;
        gap: 1.6rem;
        margin: 0 2px;
        width: 8.6rem;
        height: 5rem;
        line-height: 0;
        align-items: center;
        justify-content: center;
        background: $color-white;
        box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);
        border-radius: 5px;

        svg {
          &:nth-child(odd) {
            cursor: pointer;
            stroke: $grey-2;

          }

          &:nth-child(odd):hover {
            stroke: $red-2;
          }

          &:nth-child(1) {
            transform: rotate(180deg);
          }
        }
      }
    }

    &-country {
      display: flex;
      flex-direction: column;
      gap: 3.6rem;

      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: gelionMedium;
        font-size: 3.1rem;
        color: #13615F;

        .country-name {
          display: flex;
          gap: 2.7rem;
          align-items: center;
          padding-right: 4px;
        }

        .country-cases {
          font-size: 2.4rem;
          color: #035755;

          img {
            padding: 0 2px 0 1.6rem;
          }
        }

        &:nth-child(3) {
          .country-cases {
            img {
              transform: rotate(180deg);
              padding: 0 1.3rem 0 2px;
              filter: invert(41%) sepia(88%) saturate(431%) hue-rotate(103deg) brightness(89%) contrast(89%);

            }
          }
        }
      }
    }
  }
}