.overview {
  &-hero-container {
    background: url(/Assets/Images/OverviewHeroBG.svg) no-repeat right;

    .overview-hero {
      height: 86.7vh;
      width: $content-width;
      margin: 0 auto;
      display: flex;
      align-items: center;

      .overview-hero-content {
        max-width: 35vw;

        h1 {
          margin: 13rem 0 3rem 0;
        }

        p {
          margin-bottom: 7.2rem;
        }
      }
    }
  }

  &-content-container {
    position: relative;
    overflow: hidden;

    &::after {
      position: absolute;
      bottom: 0;
      right: -7.16%;
      transform: rotate(319deg);
      content: '';
      width: 28.4rem;
      height: 29.3rem;
      background: url(/Assets/Images/COVID_Image_BG.svg) top/contain no-repeat;
      filter: invert(94%) sepia(104%) saturate(4314%) hue-rotate(624deg) brightness(836%) contrast(90%);
    }

    .overview-content {
      position: relative;
      display: flex;
      gap: 11.2rem;
      align-items: center;
      max-width: $content-width;
      margin: 7.4rem auto 0 auto;
      padding-bottom: 2.6rem;

      h2 {
        padding-bottom: 2.2rem;

        span {
          line-height: 5.4rem;
        }
      }

      p {
        margin-bottom: 6.2rem;
      }

      &-image {
        img {
          position: relative;
          right: 9rem;
          top: 1rem;
        }
      }

      &-text {
        max-width: 34vw;
      }
    }
  }
}