.prevention {
  margin: 6.5rem 0;

  &-headtxt {
    max-width: 36vw;
    margin: 0 auto;

    h2 {
      padding-bottom: 3.2rem;

      span {
        padding-bottom: 1rem;
      }
    }
  }
}

.prevention-tip {
  margin: 6.3rem auto;

  &-item {
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    gap: 9vmax;
    align-items: center;
    position: relative;

    &:nth-child(even) {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    .pti-content {
      display: flex;
      gap: 4.2rem;
      padding-top: 8px;

      .pti-number {
        font-family: redHatDisplayBold;
        font-size: 4.4rem;
        color: $primary;
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 5rem;
        background-color: #fa555226;
        margin: 8px 0px 0px 2px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .pti-text {
        max-width: 27.75vmax;

        .pti-heading {
          font-family: gelionRegular;
          font-size: 4.7rem;
          letter-spacing: 0.5px;
          text-transform: capitalize;
          color: $dark-grey-1;
          padding: 2rem 0 2.2rem 0;
        }

        .pti-para {
          line-height: 4rem;
        }
      }
    }

    .pti-image {
      line-height: 0;
    }

    &:nth-child(2) {
      gap: 8.5vmax;
      padding-left: 10px;

      .pti-content {
        padding-top: 1.4rem;
      }
    }

    &:nth-child(3) {
      gap: 12.7vmax;
      bottom: 4px;
    }

    &:nth-child(4) {
      gap: 6.7vmax;
      bottom: 5px;
      left: 5px;

      .pti-content {
        padding-top: 10.4rem;

        .pti-text {
          p {
            padding-top: .4rem;
          }
        }
      }
    }
  }
}