.prevention {
  margin: 6.5rem 0;

  &-headtxt {
    max-width: 36vw;
    margin: 0 auto;

    h2 {
      padding-bottom: 3.2rem;

      span {
        padding-bottom: 1rem;
      }
    }
  }
}

.prevention-tip {
  margin: 6.4rem auto;

  &-item {
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    gap: 8.8vmax;
    align-items: center;
    position: relative;

    &:nth-child(even) {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    &:nth-child(2) {
      top: -.8rem;
      right: -8px;
      gap: 8.6vmax;

      .pti-content {
        padding-top: 1.2rem;
      }
    }

    &:nth-child(3) {
      top: -1.6rem;
      gap: 12.6vmax;
    }

    &:nth-child(4) {
      top: -2.4rem;
      gap: 7vmax;

      .pti-content {
        padding-top: 9.6rem;

        .pti-text {
          h3 {
            padding-bottom: 2.8rem;
          }
        }
      }
    }

    .pti-content {
      display: flex;
      gap: 4.2rem;

      .pti-number {
        font-family: redHatDisplayBold;
        position: relative;
        font-size: 4.4rem;
        color: $primary;
        padding: 1.6rem 1rem 2rem 1.5rem;
        width: 7.5rem;
        height: 7.5rem;

        &::before {
          position: absolute;
          content: '';
          width: 7.5rem;
          height: 7.5rem;
          right: -1px;
          top: 8px;
          border-radius: 5rem;
          background-color: #fa555226;
        }
      }

      .pti-text {
        max-width: 27.75vmax;

        .pti-heading {
          font-family: gelionRegular;
          font-size: 4.7rem;
          letter-spacing: 0.5px;
          text-transform: capitalize;
          color: $dark-grey-1;
          padding: 2rem 0 2.2rem 0;
        }

        .pti-para {
          line-height: 4rem;
        }
      }

    }

    // .pti-image {
    //   img {
    //     margin: 0 10rem;
    //   }
    // }
  }
}