// ---------- Colors ----------
$primary: #FA5652;
$primary-light: #FA565226;
$secondary: #FB4C47;
$red-1: #FF383D;
$red-2: #F44A45;
$brown: #0C6C44;
$color-white: #fff;
$color-black: #000;
$light-grey: rgba(250, 86, 82, 0.15);
$dark-grey-1: #035755;
$dark-grey-2: #4B4F51;
$grey-1: #687089;
$grey-2: #A2A5B2;

// ---------- font-size ----------
$default-fs: 1.6rem;

// ---------- Grid ----------
// $grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$content-width: 75.157vw;
// navigation
$nav-height: 65px;
$breakpoint: 799px;
