.ta-center {
	text-align: center;
}

.plus-icon {
	display: inline-block;
	vertical-align: middle;
	width: 38px;
	height: 38px;
	background-image: linear-gradient($grey-1, $grey-1), linear-gradient($grey-1, $grey-1);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 5% 70%, 70% 5%;
}